h3.headerStyle {
    color:aquamarine;
    font-size: 30px;
}

header {
    padding: 30px 0;
    background-color: darkcyan;
    text-align: center;
}

h3{
    color: lightcoral;
    font-size: 30px;
}

p {
    color: white;
    font-weight: 800;
}

.hero{
    background-color: lightseagreen;
    min-height: 300px;
    text-align: center;
    padding-top: 200px;
}

.about{
    background-color: lightgray;
    min-height: 300px;
    text-align: center;
    padding-top: 100px;
}

p.aboutText{
    color: lightslategrey;
}

p.footerText{
    color: lightsalmon;
    font-size: 10px;
}

footer {
    background-color:lightpink;
    padding: 30px 0 30px 20px;
}